aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
pyrogram==2.0.0
hurry.filesize
heroku3
motor
pillow
psutil
python-dotenv
pyromod
py-tgcalls==0.1.0
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
yt-dlp
regex
html5lib
